﻿@model HaterClient.ViewModels.CreateTopicViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Add new topic</h2>
<hr />

@using (Html.BeginForm("Create", "Topic"))
{
    @Html.AntiForgeryToken()
    <h2 class="@(Model.Success?"text-success":"text-danger")">@Model.Message</h2>
    <hr/>
    <div class="form-group">
        @Html.LabelFor(model => model.Topic, new {@class = "col-md-12 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Topic, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Topic)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Add new</button>
        </div>
    </div>
}