﻿@using HaterClient.Models.Enums
@model HaterClient.ViewModels.AnswersTopicVm

@{
    ViewBag.Title = "Index";
}

<h1>My answers to topics</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Answerd at
            </th>
            <th>
                Topic
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Choices)
    {
        <tr>
            <td>
                @item.CreatedAt
            </td>
            <td>
                @item.Topic.Description
            </td>
            <td class="choice-form">
                @using (Html.BeginForm("Index", "Topic"))
                {
                    Html.AntiForgeryToken();

                    <input type="hidden" value="@item.UserTopicChoiceId" name="UserTopicChoiceId"/>
                    <input type="hidden" value="" name="Choice" class="choice-input"/>

                    foreach (Choice cho in Enum.GetValues(typeof(Choice)))
                    {
                        <div class="btn @(cho == item.Choice ? "btn-primary" : "btn-default choice-btn")" data-id="@cho.GetHashCode()">@cho.ToString()</div>
                    }
                }
            </td>
        </tr>
    }
    
    </tbody>
</table>

@section Scripts {
    <script src="~/Scripts/Topic.js"></script>
}
