﻿@using HaterClient.Models.Enums
@model HaterClient.ViewModels.VoteViewModel

@{
    ViewBag.Title = "Vote";
}

<h2>Vote on topics</h2>
<hr />
<h3 class="text-danger">@Model.Message</h3>

@if (Model.TopicId == 0)
{
    <h1>There are no more topics to vote on!</h1>
}
else
{
    <h1>@Model.Description</h1>
    <div class="choice-form">
        @using (Html.BeginForm("Vote", "Topic"))
        {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(model => model.TopicId);
            @Html.HiddenFor(model => Model.Choice, new { @class = "choice-input" });

            foreach (Choice item in Enum.GetValues(typeof(Choice)))
            {
                 <div class="btn btn-primary choice-btn" data-id="@item.GetHashCode()">@item.ToString()</div>
            }
        }
    </div>
    @section Scripts {
        <script src="~/Scripts/Topic.js"></script>
    }
}