﻿@model HaterClient.ViewModels.MatchViewModel
@{
    ViewBag.Title = "Match me";
}

@if (Model.MatchId > 0)
{

    <h1>You got matched with @Model.Name</h1>
    <hr />
    <p>
        @Model.Gender<br />
        @Model.Age<br />
        @Model.Description
    </p>
    <hr />
    using (Html.BeginForm("Index", "Match"))
    {
         @Html.AntiForgeryToken()

    }
    <ul>
        
    </ul>
}
else
{
    <h1>Match me</h1>

    <hr />
    <h2 class="text-danger">No more matches...</h2>
}

