﻿@model List<HaterClient.ViewModels.MatchUserViewModel>
@{
    ViewBag.Title = "Pending matches";
}

<h1>Pending matches</h1>
<hr />

@if (Model.Count > 0)
{
    <ul>
        
    </ul>
}
else
{
    <h2 class="text-danger">No more pending matches...</h2>
}