﻿@model HaterClient.ViewModels.RegisterVm
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Home"))
{
    <div class="form-horizontal">
        <h1>@Model.Error</h1>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">PreferredGenderSelectList</label>
            <div class="col-md-5">
                @Html.DropDownList("PreferredGenderSelectList")
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-1 control-label">Email</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">Password</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Password, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">ConfirmPassword</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.ConfirmPassword, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">BirthDay</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.BirthDay, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.BirthDay)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">AgaPreferenceStart</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.AgaPreferenceStart, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.AgaPreferenceStart)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">AgePreferenceStop</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.AgePreferenceStop, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.AgePreferenceStop)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">Name</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">Country</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Country, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Country)
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-1 control-label">Gender</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Gender, new {@class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </div>
}