﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hater | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hater", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
           
            @if (ViewBag.Token != null && ViewBag.Token.Length > 0)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Create a topic", "Create", "Topic")</li>
                        <li>@Html.ActionLink("Vote on a topic", "Vote", "Topic")</li>
                        <li>@Html.ActionLink("My answers", "Index", "Topic")</li>
                        <li>@Html.ActionLink("Match", "Index", "Match")</li>
                        <li>@Html.ActionLink("Pending matches", "Pending", "Match")</li>
                        <li>@Html.ActionLink("Chat", "Index", "Chat")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("My profile", "Profile", "Home")</li>
                        <li><button class="btn btn-link navbar-btn navbar-link">Log out</button></li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hater</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</body>
</html>
