﻿@model List<HaterClient.ViewModels.MatchUserViewModel>
@{
    ViewBag.Title = "Chat";
}

<h1>Chat</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Active Matches</h3>
        <ul>
            
        </ul>
    </div>
    <div class="col-md-8">
        
    </div>
</div>
